<table>
  <tbody>
    <tr class="movie">
      <th class="movieTitle">Film</th>
      <th class="movieYear">Rok</th>
    </tr>
    <% for (const movie of movies) {%>
    <tr class="movie">
      <td class="movieTitle">
        <a href="/detail/<%= movie.id %>"><%= movie.title %></a>
      </td>
      <td class="movieYear"><%= movie.yearOfCreation %></td>
    </tr>
    <% } %>
    <% if(Object.keys(movies).length === 0){ %>
      <tr><td colspan="2">Prozatím nejsou žádné filmy ke komentování.</td></tr>
    <% } %>
  </tbody>
</table>
