<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <% if (user) { %>
        <%= user.name %>
        <a href="/logout">Odhlásit se</a>
      <% } else { %>
        <a href="/login">Přihlášení</a>
        <a href="/registration">Registrace</a>
    <% } %>
    
    <div id="movies">
	    <%- include('_movies') %>
    </div>
    
    <form action="/movieAddition" method="get">
        <button type="submit">Přidat film</button>
    </form>
    <script>
        const ws = new WebSocket('ws://localhost:3000')

        ws.addEventListener('message', (message) => {
            const json = JSON.parse(message.data)
            if (json.type === 'movies') {
                document.getElementById('movies').innerHTML = json.html
            }
        })
    </script>
</body>
</html>