<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.ico">
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <title>Přidání nového filmu</title>
  </head>
  <body>
    <main>
      <%- include('_header') %>
      <hr />
      <h2>Vytvoření nového filmu</h2>
      <a href="/">Zpět na hlavní stránku</a>
      <div class="content">
        <div class="<%= movieAlreadyExists ?'visible':'hidden'%>">
          Nový film již existuje.
        </div>
        <form action="/add" method="post">
          <div class="rowDiv">
            <label for="title">Název Filmu: </label>
            <input type="text" name="title" /><br />
          </div>
          <div class="rowDiv">
            <label for="yearOfCreation">Rok: </label>
            <input type="integer" name="yearOfCreation" /><br />
          </div>
          <div class="rowDiv">
            <label for="director">Režie: </label>
            <input type="text" name="director" /><br />
          </div>
          <div class="rowDiv">
            <label for="description">Popis: </label>
            <input type="text" name="description" /><br />
          </div>
          <div class="rowDiv">
            <label for="template">Předloha: </label>
            <input type="text" name="template" /><br />
          </div>
          <div class="rowDiv">
            <label for="music">Hudba: </label>
            <input type="text" name="music" /><br />
          </div>
          <div class="rowDiv">
            <label for="screenplay">Scénář: </label>
            <input type="text" name="screenplay" /><br />
          </div>
          <div class="buttonDiv">
            <button type="submit">Vytvořit</button>
            <button type="reset">Vymazat</button>
          </div>
        </form>
      </div>
      <footer>
        <p>Všechna práva vyhrazena pro studijní účely.</p>
      </footer>
    </main>
  </body>
</html>
