<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrace</title>
</head>
<body>
    <h1>Registrace</h1>
    <a href="/">Zpět na hlavní stránku</a>
    <form action="/register" method="post">
        <label for="nickname">Přezdívka: </label>
        <input type="text" name="nickname"/><br>
        <label for="email">E-mail: </label>
        <input type="text" name="email"/><br>
        <label for="password">Heslo: </label>
        <input type="text" name="password"/><br>
        <button type="submit">Zaregistrovat se</button>
    </form>
</body>
</html>